

.log {
    position: absolute;
    top: 25%;
    left: 10%;
    border: none;
    width: 80%;
    height: 50%;
    padding: 7%;
    font-size: 10px;
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    
}

.logintext {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 25px !important;
    font-weight: BOLD;
}

.username {
    position: absolute;
    background: transparent !important;
    color: white !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}


::ng-deep .loginfield {
    position: absolute;
    top: 25%;
    background-color: rgb(65, 64, 64);
    border-radius: 5%;
    height: 56px;
    border: none !important;
    width: 85%;
    border: none  !important;
}

.userplace{
    color: gray;
    background-color: rgb(65, 64, 64);
}


::ng-deep .passfield {
    position: absolute;
    top: 53%;
    width: 85%;
    border-radius: 5%;
    background-color: rgb(65, 64, 64);
    height: 56px;
}

.password {
    background: transparent !important;
    color: white !important;
}

.signin {
    position: absolute;
    top: 80%;
    left: 60%;
}

.invaliduser {
    position: absolute;
    color: red;
    left: 11%;
    top: 42%;
    font-size: 130%;
}

.invalidpass {
    position: absolute;
    color: red;
    left: 11%;
    top: 70%;
    font-size: 130%;
}


.signup {
    color: white;
    font-size: small;
    background: transparent;
    border: transparent;
}

.signuptext {
    position: absolute;
    left: 5%;
    top: 73%;
    color: gray;
    font-size: small;
}

